
.header {
  text-align: center;
  color: #47d4d4;
  text-shadow: 2px 2px #000000;
}
.content {
  background-color: transparent;
  
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.932);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  margin:1rem;
}
.imageSarah {
  border-top-left-radius: 20%;
}
.card1 {
  border-top-left-radius: 20%;
  border-top-right-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.932);
}
/* .card-img-top {
  border-radius: 25%;
  width: 7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
}
.header{
   text-align: center;
   color: #47d4d4;
    
}
.about{
    background: rgba(153, 196, 216, 0.5);
    border-radius: .5rem;
    border:.25em;
}
