.header {
  text-align: center;
  color: #47d4d4;
  text-shadow: 2px 2px #000000;
}
.content {
  background-color: aliceblue;
  border: 0.25em;
  border-color: #47d4d4;
  border-style: solid;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0rem;
}
.card-img-top {
  border-radius: 25%;
  width: 7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
}