.header {
  text-align: center;
  color: #f5f6fa;
  text-shadow: 2px 2px #a3aee0;
  font-family: "Oswald", sans-serif;
  font-size: 56px;
}
.content {
  background-color: transparent;
}
body {
  height: 100%;
  background-image: linear-gradient(160deg, #3a6db9 0%, #23acd6 100%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.932);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  margin: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.card1 {
  border-top-left-radius: 60% !important;
  border-top-right-radius: 60% !important;
  background-color: rgba(255, 255, 255, 0.932);
}
.images {
  border-radius: 7%;
  border-top-right-radius: 10% !important;
  border-top-left-radius: 10% !important;
  height: 350px;
  border-style: solid;
  border-color: #93dfece3;
  border-width: .4rem;
}
/* .card-img-top {
  border-radius: 25%;
  width: 7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
}
.header{
   text-align: center;
   color: #47d4d4;
    
}
.about{
    background: rgba(153, 196, 216, 0.5);
    border-radius: .5rem;
    border:.25em;
}
*/
