.hi {
    background: rgba(204, 204, 204, 0.5);
    border-radius: .5rem;
    margin: .5rem;
}
.hi2 {
    background: rgba(204, 204, 204, 0.5);
    border-radius: .5rem;
    margin: .5rem;
}
.hi3 {
    background: rgba(204, 204, 204, 0.5);
    border-radius: .5rem;
    margin: .5rem;
}