.forgot {
    background: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    color: #084080;
    padding: .8rem 4rem 3rem 4rem;
    border-radius: 8px;
}
.alert {
    font-size: 1.5rem;
    
}
.forgottt {
    color: #084080 !important;
    font-size: 1.7rem;
    font-family: "Oswald", sans-serif;
}
.forgottt:hover { 
    background-color: #084080;
    color: #fff !important;
}