#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
#navbar {
  background-image: linear-gradient(90deg, #1150CB 50%, #fff 50%);
}
.container {
  margin-left: 0rem;
  padding-right: 3rem;
  max-width: 100%;
}
.btn-primary {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #0d6efd;
  background-color: #fff;
  border-color: #fff;

}
.dropdown-item {
  border-radius: 25px;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #f8f9fa;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu.show {
  display: block;
  background-color: #0d6efd;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  right: 0 !important;
  left: unset !important;
  margin-top: 0.125rem;
}
.icons-right{
  display:flex;
}
.hamburger{
  padding-right: .30rem;
}