#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
html,
body {
  height: 100%;
  background-image: linear-gradient(90deg, #0f6ad1 50%, #fff 50%);
}
#navbar {
    background-image: linear-gradient(90deg, #0f6ad1 50%, #fff 50%);
}
#h1 {
  position: absolute;
  top: 500px;
  right: 250px;
  width: 500px;
  height: 100px;
  color: #0f6ad1;
  font-size:70px;
}
#h3 {
  position: absolute;
  top: 440px;
  right: 450px;
  width: 500px;
  height: 100px;
  color: #084080;
  font-size:50px;
}