.howitworks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    text-align: center;
    color: #f5f6fa;
    text-shadow: 2px 2px #1f3ab3;
    font-family: "Oswald", sans-serif;
    font-size: 56px;
}
.text {
    color: #f5f6fa;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}
